<a href="https://colab.research.google.com/github/Vipul4765/DSA-practice-question/blob/main/List%2Cset%2Ctuple%2Cdictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#What is List
'''A list is a standard data type in python that can store a sequence of values belong to any type.
   The list created within bracket([]) and itme in bracket separated by commas.
   1.Python list is referentail arary
   2.Store heterogenous array
   3.Speed low
   4.Memory loss
   5.Making coding easy
   6.List is Dynamic in nature
   7.Dynamic is nothing it is just concept
   8.List are mutable in nature
   9.Ordered
   10.can have duplicate values
   11.can be nested
   12.item can accessed by using indexing
   13.can contain any kind of object in python
   size->Adjust-->According to the need'''

#Difference between List and Array
'''
  Array                                             List
  1.Array is homogenous                             1.List is heterogenous
  2.Array are store in continguous location memory  2.List are not stored in contigous memory
  3.Array are much faster then List                 3.List are slower then Array
  4.Array are not programmer Friendly               4.List are more programmer friendly
  5.Array take less memory                          5.List take more memory
'''

'\n  Array                                             List\n  1.Array is homogenous                             1.List is heterogenous\n  2.Array are store in continguous location memory  2.List are not stored in contigous memory\n  3.Array are much faster then List                 3.List are slower then Array\n  4.Array are not programmer Friendly               4.List are more programmer friendly\n  5.Array take less memory                          5.List take more memory\n'

In [ ]:
#Creating List
l = []
print(type(l))

<class 'list'>

In [ ]:
#Creating list using type conversion
l = list('vipul')
print(l)

['v', 'i', 'p', 'u', 'l']

In [ ]:
#Accessing item in the list
L = [1,2,3,4,5,6]
#There are method to accessing/fetching the from list are:-
#1.indexing
print(L[3])
#2.slicing
print(L[1:100])

4
[2, 3, 4, 5, 6]

In [ ]:
#How to add in list
#There are three way to add element in list
#1.append
#2.extend
#3.insert
L = [10,20,30,40,50]
L.append(40)
print(L)
L.extend([60,70,80,90,100])
print(L)
L.insert(0,5)
print(L)

[10, 20, 30, 40, 50, 40]
[10, 20, 30, 40, 50, 40, 60, 70, 80, 90, 100]
[5, 10, 20, 30, 40, 50, 40, 60, 70, 80, 90, 100]

In [ ]:
#Editing in List
#There are two method to editing the list
#1.indexing
#2.Slicing
L = [3,4,5,6]
print(L)
L[-1] = 8
print(L)
L[1:100] = [1,2,3,4,5,6,7,8]
print(L)

[3, 4, 5, 6]
[3, 4, 5, 8]
[3, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Deleting item from the list
#There are four method to delete the item from list
#1.Remove
#2.Del
#3.pop
#4.clear
L = [1,2,3,4,5,6,7]
L.remove(7)
print(L)
L.pop(0)
print(L)
L.clear()
print(L)
L = [1,2,3,4,5,6]
print(L)
#by using del keyword -> There are two way   1.indexing  2.slicing
del L[1]
print(L)
del L[:]
print(L)

[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[]
[1, 2, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[]

In [ ]:
#Operations on List
#1.Arthimetic operation('+','*')
#2.Membership operator
#3.Loops

In [ ]:
L1 = [1,2,34]
L2 = [5,6,7]
print(L1 + L2)

[1, 2, 34, 5, 6, 7]

In [ ]:
l = [1,2,3,4]
print(l*4)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
1 in l

True

In [ ]:
print([1,2,3] not in l)
print(l)

True
[1, 2, 3, 4]

In [ ]:
#Loop
l = [[1,2],[3,4],[5,6]]
for i in l:
  print(i[0])

1
3
5

In [ ]:
#List Function
#There are several function in python
#min/max/sum/len/count/sorted/copy/zip
L = [100,22,32,43,5,6,7,8,9]
print(min(L))
print(max(L))
print(sum(L))
print(len(L))
print(sorted(L,reverse = True))
print(L)
print(L.sort())
print(L)
L.count(698)

5
100
232
9
[100, 43, 32, 22, 9, 8, 7, 6, 5]
[100, 22, 32, 43, 5, 6, 7, 8, 9]
None
[5, 6, 7, 8, 9, 22, 32, 43, 100]

0

In [ ]:
#copy ->Shallow
L1 = L.copy()
print(L1)
print(id(L1))
print(L)
print(id(L))

[5, 6, 7, 8, 9, 22, 32, 43, 100]
140372842630336
[5, 6, 7, 8, 9, 22, 32, 43, 100]
140372835422848

In [ ]:
#List Comphresion --> List comphresion provides more concise way to creating list
#Syntax of ListComphresion = [expression for item in iterable if condition == True]

In [ ]:
#Advantage of list over list comphresion
#1.More time-effecient and space effecient than loops
#2.Require few lines of code
#3.Transformation iterative statement into formula

In [ ]:
#Add 1 to 10 numbers to a list
new_list = [i for i in range(1,11)]
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Scalar Multiplication
k = 3
L = [1,2,3,4,5]
new_list = [i*k for i in L]
print(new_list)

[3, 6, 9, 12, 15]

In [ ]:
#Add square
k = 0
l = [1,2,3,4,5]
new_list = [i**2 for i in l ]
print(new_list)

[1, 4, 9, 16, 25]

In [ ]:
#Print all number divide by five
new_list = [i for i in range(1,100) if i%5==0]
print(new_list)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
languages = ['java', 'python', 'php', 'c', 'javascript']
filtered_languages = [language for language in languages if language.startswith('p')]
print(filtered_languages)

['python', 'php']

In [ ]:
#Nested list comphresion
print([[i*j for i in range(1,4)] for j in range(1,4)])

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
#Zip Object
L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]
l = list(zip(L1,L2))

In [ ]:
print(l)

[(1, -1), (2, -2), (3, -3), (4, -4)]

In [ ]:
#Using list comphresion
[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

In [ ]:
#Disadvantage of List
#1.Slow
#2.Risky Usage
#3.eat up more memory
#4.Insertion, Deletion are Slow
#5.Search is slow

In [ ]:
######################           GFG Questions        ##########################

In [ ]:
#1. Average of list
def average(l):
  return sum(l)/len(l)

average([1,2,3,4,5,6,7,8,9])

5.0

In [ ]:
#2.Separate the Even and Odd
def even_odd(L):
  odd = []
  even = []
  for i in L:
    if i%2==0:
      even.append(i)
    else:
      odd.append(i)
  return even,odd
k = even_odd([1,2,3,4,5])
print(*k)

[2, 4] [1, 3, 5]

In [ ]:
#By using list comphresion
L = [1,2,3,4,5,6,7,8,9,10]
odd_number = [i for i in L if i%2!=0]
even_number = [i for i in L if i%2==0]
print(odd_number,even_number)

[1, 3, 5, 7, 9] [2, 4, 6, 8, 10]

In [ ]:
#Get Smaller Elements
def smallerelements(l,element):
  new_list = []
  for i in l:
    if i < element:
      new_list.append(i)
  return new_list
smallerelements([1,2,3,4,5,6,7,8,9],5)

[1, 2, 3, 4]

In [ ]:
#Largest Element in a List
def getMax(l):
  k = None
  for i in l:
    if k == None:
      k = i
    else:
      if i > k:
        k = i
  return k

k = getMax([7,2,4,00,99,495,233545,245,324,35])
print(k)

233545

In [ ]:
# second largest element
def getSecMax(l):
  if len(l) <= 1:
    return None
  lar = getMax(l)
  slar = None
  for x in l:
    if x!=lar:
      if slar == None:
        slar = x
      else:
        slar = max(slar,x)
  return slar

In [ ]:
getSecMax([1,9,2,3,4,5,6])

6

In [ ]:
def getSecMax(l):
  if len(l) <= 1:
    return None
  lar = l[0]
  slar = None
  for x in l[1:]:
    if x > lar:
      slar = lar
      lar = x
    elif x!=lar:
      if slar==None or slar<x:
        slar = x
  return slar

In [ ]:
getSecMax([1,2,3,4,5,6,343,2123,4,33,42,43,32,23,532,53,523])

532

In [ ]:
#Check if a list is sorted
def check_sorted(l):
  if len(l)==1 or len(l)==0:
    return True
  i = 1
  while i < len(l):
    if l[i] < l[i-1]:
      return False
    i+=1
  return True

In [ ]:
check_sorted([9,1,2,3,4,5])

False

In [ ]:
 #Reversing the list
def reverseList(l):
  s = 0
  e = len(l)-1
  while s < e:
    l[s],l[e] = l[e],l[s]
    s+=1
    e-=1

In [ ]:
l = [1,2,3,4,5]
reverseList(l)
print(l)

[5, 4, 3, 2, 1]

In [ ]:
#Remove Duplicate From Array
def removeDuplicate(arr):
  n = len(arr)
  temp = [0] * n
  temp[0] = arr[0]
  res = 1
  for i in range(1, n):
    if temp[res-1] != arr[i]:
      temp[res] = arr[i]
      res += 1
  for i in range(0, res):
    arr[i] = temp[i]
  return arr[:res]

In [ ]:
l = [1,1,1,2,3,4]
removeDuplicate(l)

[1, 2, 3, 4]

In [ ]:
def remdup(arr):
  n=len(arr)
  res = 1
  for i in range(1,n):
    if arr[i]!=arr[i-1]:
      arr[res]=arr[i]
      res+=1
  return res

In [ ]:
remdup([1,1,2,2,3,4,4,4,5])

5

In [ ]:
def rotateByOne(l):
  n = len(l)
  x = l[0]
  for i in range(1,n):
    l[i-1] = l[i]
  l[-1] = x

In [ ]:
l = [1,2,3,4,5,6]
rotateByOne(l)
print(l)

[2, 3, 4, 5, 6, 1]

In [ ]:
def oneOddOccuring(arr):
  arr_size = len(arr)
  for i in range(0,arr_size):
    count = 0
    for j in range(0,arr_size):
      if arr[i] == arr[j]:
        count+=1
    if count%2!=0:
      return arr[i]
  return -1

In [ ]:
arr = [2,3,4,5,5,53,4,56,43,5,5]
oneOddOccuring(arr)

2

In [ ]:
def oddocurring(l):
  k = 0
  for i in l:
    k = k^i
  return k

In [ ]:
oddocurring([1,1,2,2,115])

115

In [ ]:
L = [1,2,3,4,5]
L.insert(10,99)

In [ ]:
print(L)

[1, 2, 3, 4, 5, 99]

In [ ]:
import ctypes

class DynamicArray:
    def __init__(self):
        self.capacity = 1
        self.size = 0
        self.array = self.__create_array(self.capacity)

    def index(self, item):
        for i in range(self.size):
            if self.array[i] == item:
                return i
        return 'item not found'

    def __getitem__(self, index):
      if index > -1:
        if 0 <= index < self.size:
            return self.array[index]
        return 'Index Error'
      else:
        if 1 <= abs(index) < self.size:
            return self.array[index]
        return 'IndexError'


    def __str__(self):
        result = ''
        for i in range(self.size):
            result += str(self.array[i]) + ','
        return '[' + result[:-1] + ']'

    def __len__(self):
        return self.size

    def clear(self):
        self.size = 0
        self.capacity = 1

    def pop(self):
        if self.size == 0:
            return 'Empty List'
        popped_element = self.array[self.size - 1]
        self.size -= 1
        return popped_element

    def append(self, element):
        if self.size == self.capacity:
            self.__resize(2 * self.capacity)
        self.array[self.size] = element
        self.size += 1

    def __create_array(self, capacity):
        return (capacity * ctypes.py_object)()

    def __resize(self, new_capacity):
        new_array = self.__create_array(new_capacity)
        for i in range(self.size):
            new_array[i] = self.array[i]
        self.array = new_array
        self.capacity = new_capacity

    def insert(self, item, index):
        if self.size == self.capacity:
            self.__resize(self.capacity * 2)
        if index < 0 or index > self.size:
            return 'Index out of range'
        for i in range(self.size, index, -1):
            self.array[i] = self.array[i - 1]
        self.array[index] = item
        self.size += 1

    def __delitem__(self, index):
        if 0 <= index < self.size:
            for i in range(index, self.size):
                self.array[i] = self.array[i + 1]
            self.size -= 1
        else:
            return 'Index out of range'

    def remove(self, item):
        pos = self.index(item)
        if type(pos) == int:
            self.__delitem__(pos)
        else:
            return 'ValueError'

    def extend(self,new_list):
      if self.size + len(new_list) >= self.capacity:
        n = self.size + len(new_list)
        self.__resize(self.capacity*n)
      for item in new_list:
        self.array[self.size] = item
        self.size+=1

    def __min__(self):
        if self.size == 0:
            return None
        return min(self.array[:self.size])

    def __max__(self):
        if self.size == 0:
            return None
        return max(self.array[:self.size])

    def __sum__(self):
        return sum(self.array[:self.size])

    def sort(self):
      for i in range(self.size - 1):
          for j in range(self.size - i - 1):
              if self.array[j] > self.array[j + 1]:
                  self.array[j], self.array[j + 1] = self.array[j + 1], self.array[j]

    def __contain__(self,item):
      for i in self.array:
        if item == i:
          return True
      return False

In [ ]:
L = DynamicArray()
len(L)
L.append(3)

print(L)

[3]

In [ ]:
L.extend([11,22,34,1,4,2])

In [ ]:
print(L)

[3,11,22,34,1,4,2]

In [ ]:
90 in L

In [ ]:
90 not in L

In [ ]:
L.insert(100,3)

In [ ]:
print(L)

In [ ]:
L = [1,2,3,4,5]
L.sort()

In [ ]:
l = []
max(l)

In [ ]:
L = [1,2,3,4]
2 in L

True

In [ ]:
a = [1,2,3]
a,b,c = [1,2,3]

In [ ]:
print(a,b,c)

1 2 3

In [ ]:
L = [1,2,3,4]
L.remove(10)

ValueError: ignored

In [ ]:
print(list('vipul'))

['v', 'i', 'p', 'u', 'l']

In [ ]:
###########################Tuples###############################

In [ ]:
#Tuples :- A tuple in python is similar to a list.The difference between the two is that we can't changr the elements of a tuple once it is assigned
#In short, A tuple is an immutable list. A tuple can not be changed in any way once it is created.

In [ ]:
#characteristics :----- 1.Ordered      2.Unchangable         3.Allows Duplicate

In [ ]:
#Creating Tuple
t = (1)
type(1)

int

In [ ]:
t = (1,)
print(type(t))

<class 'tuple'>

In [ ]:
l = [1,2,3,4]
tuple(l)

(1, 2, 3, 4)

In [ ]:
l = list(range(1,9))

In [ ]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
l = 'string'
tuple(l)

('s', 't', 'r', 'i', 'n', 'g')

In [ ]:
#By using typecasting
#1.Range function
#2.List
#3.string

In [ ]:
#Accessing element from tuple
#1.Indexing
#2.Slicing

In [ ]:
k = (1,2,3,4,[5,6,7])

In [ ]:
k[4]

[5, 6, 7]

In [ ]:
k[4][1] = 7

In [ ]:
print(k)

(1, 2, 3, 4, [5, 7, 7])

In [ ]:
#Editing and deleting is not possible
#Operatoions on tuples
#1.Arithmetic operator
#2.Membership operator
#3.Loops/Iterations

In [ ]:
#Tuple functions
#len\min\max\sorted\sum

In [ ]:
##Sets:- A set is a collection of unordered item and item should be immutable

In [ ]:
#Sets is a mutable
#characteristics
#1.Unordered
#2.Mutable
#3.No Duplicate
#4.can't be duplicate

In [ ]:
#Creating Sets
s = set()
s = set([1,2,3,4])
s = {1,2,3,{3,4}}

TypeError: ignored

In [ ]:
#Editing and deleting is not possible

In [ ]:
#Deleting items
#del
#discard
#remove
#pop
s = {1,2,3,4,5}

In [ ]:
s

{1, 2, 3, 4, 5}

In [ ]:
del s[0]

TypeError: ignored